{{- $robots := `
<meta name="robots" content="index,follow">
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
` -}}

{{- if .IsHome -}}
{{- if eq site.Params.siteRobots.homeIndex true -}}
{{- $robots = `
<meta name="robots" content="noindex, follow">` -}}
{{- end -}}
{{- end -}}

{{- with .Data.Term -}}
{{- if eq site.Params.siteRobots.catIndex true -}}
{{- $robots = `
<meta name="robots" content="noindex, follow">` -}}
{{- end -}}
{{- end -}}

{{- if eq .Section "posts" -}}
{{- if eq site.Params.siteRobots.postIndex true -}}
{{- $robots = `
<meta name="robots" content="noindex, follow">` -}}
{{- end -}}
{{- end -}}


{{- if eq .Section "pages" -}}
{{- if eq site.Params.siteRobots.pageIndex true -}}
{{- $robots = `
<meta name="robots" content="noindex, follow">` -}}
{{- end -}}
{{- end -}}

{{- if eq .Section "knowledge-base" -}}
{{- if eq site.Params.siteRobots.blogIndex true -}}
{{- $robots = `
<meta name="robots" content="noindex, follow">` -}}
{{- end -}}
{{- end -}}

{{- if eq .Section "reviews" -}}
{{- if eq site.Params.siteRobots.reviewIndex true -}}
{{- $robots = `
<meta name="robots" content="noindex, follow">` -}}
{{- end -}}
{{- end -}}


{{- $robots | safeHTML -}}