{{ if .Params.product_Mheading }}
    <h2>{{.Params.product_Mheading}}</h2>
{{else}}
{{end}}
<!-- Product Previews -->
{{ range .Params.the_products }}
<div class="c-v-a" id="{{.name | anchorize}}" >
    <figure class="image-figure" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
        <div class="figure-img">
            <a href="{{.amzlink}}" aria-label="{{.name}}"
                class="flex flex-column p-relative" target="_blank" rel="nofollow sponsored noopener noreferrer">
                <img src="{{.image}}"
                    class="self-center mv3" loading="lazy" alt="{{.name}}" width="300" height="355">
            </a>
        </div>
        <meta itemprop="url" content="{{.image}}">
        <meta itemprop="height" content="300">
        <meta itemprop="width" content="300">
    <h3 class="title__heading">
        <a href="{{.amzlink}}" aria-label="{{.name}}"
            target="_blank" rel="nofollow sponsored noopener noreferrer">
            <span class="title__text">{{.name}}</span>
        </a>
    </h3>
    <div class="subtitle">
        <p>{{.award}}</p>
    </div>
	        <p class="amazon-link">
            <a href="{{.amzlink}}" aria-label="{{.name}}"
                class="btn btn-orange" target="_blank" rel="nofollow sponsored noopener noreferrer">Check Price</a>
        </p>
    <div class="specifications">
    {{ range .specifications }}
        <p class="specs__text">{{ .specification | markdownify }}</p>
    {{ end }}
    </div>
			 <div class="p-and-c">
        <div class="w-100 flex pros-and-cons mb2-5">
            <div class="w-100 pros black mr2">
                <h4 class="mb3 f4 ttu pros">Pros</h4>
				<div class="pros entry text">
                {{range .pros}}
                <p class="flex flex-row items-start">
                    <span class="bg-greene teal br-50 mr2 tc f5 single-post-recommendation-pros-cons">✓</span>
                    <span>{{.pro}}</span>
                {{end}}
				<div>
                </p>
            </div>
            <div class="w-100 cons black">
                <h4 class="mb3 f4 ttu cons">Cons</h4>
                {{ range .cons }}
                <p class="flex flex-row items-start">
                        <span class="bg-rede grey-4 f5 br-50 tc mr2 single-post-recommendation-pros-cons">✗</span>
                        <span>{{.con}}</span>
                    </p>
                {{ end }}
            </div>
        </div>
    </div>
	<div>
    {{ range .paragraphs }}
        <p>{{.paragraph | markdownify}}</p>
			        <p class="amazon-link">
            <a href="{{.amzlink}}" aria-label="{{.name}}"
                class="btn btn-orange" target="_blank" rel="nofollow sponsored noopener noreferrer">View on Amazon</a>
            <a href="{{.amzlink}}"
                aria-label="{{.name}}" class="amazon-review-button" target="_blank"
                rel="nofollow sponsored noopener noreferrer">Read Customer Reviews</a>
        </p>
		</div>
    {{ end }}
    {{ partial "ads/below-product" . }}
</div>
{{ end }}