<div id="article-body" class="text-copy bodyCopy">
{{ partial "single/advanced-single/introduction" . }}
{{ partial "single/advanced-single/buying-guide" . }}
{{ if eq .Params.product_table true }}    
{{ partial "single/advanced-single/summary" . }}
{{ end }}
{{ partial "single/advanced-single/products" . }} 
{{ partial "single/advanced-single/summary" . }}
{{ partial "single/advanced-single/conclusion" . }}
{{ partial "single/advanced-single/faqs" . }}
{{ partial "single/author-box" . }}
{{ partial "single/footer" . }}
{{ partial "single/disqus" . }}
</div>