<div id="article-body" class="text-copy bodyCopy">
{{ partial "single/advanced-single/introduction" . }}
{{ if eq .Params.top3_table true }}
{{ partial "single/advanced-single/top-3" . }}
{{ end }}
<p>{{.Params.after_intro | markdownify }}</p>
{{ if eq .Params.product_table true }}    
{{ partial "single/advanced-single/summary" . }}
{{ end }}
{{ partial "single/advanced-single/buying-guide" . }}
{{ partial "single/advanced-single/products" . }}
<div id="after-products">
    <p>{{.Params.afterProducts | markdownify }}</p>
</div>
{{ partial "single/advanced-single/conclusion" . }}
{{ partial "single/advanced-single/faqs" . }}
{{ partial "single/author-box" . }}
</div>