{{ if .Params.author }}
{{ $author := index .Site.Data.authors (.Params.author | anchorize) }}
{{- if $author.name -}}
<div class="author-box">
    <div class="avatar"><img src="{{ $author.avatar | absURL }}" loading="lazy" alt="{{ $author.name }}" title="{{ $author.name }}" /></div>
    <div class="name"><a href="/author/{{.Params.author | anchorize}}/">{{ $author.name }}</a></div>
    <div class="bio">{{ $author.bio }}</div>
</div>
{{- else -}}
<div class="author-box">
    <div class="avatar" style="background-image: url({{site.Params.Author.avatar}});"></div>
    <div class="name">{{site.Params.Author.name}}</div>
    <div class="bio">{{site.Params.Author.bio}}</div>
</div>
{{- end -}}
{{ end }}