@media screen and (min-width:1000px) {
    #main.container.full, .menuitems.container.full, footer>.container.full {
        padding-left: 0;
        padding-right: 0
    }
    .burgerbar .burgerbar-small {
        padding: 0;
    }
    div.contentBody{
        border-right: 1px solid #eee;
        padding-right: 20px;
    }
	/*Sayim Css Here*/
    .container.full {
        max-width: 1100px
    }
}