{{ define "main" }}

{{ if (fileExists "layouts/partials/ads/above-content.html") -}}
{{ partial "ads/above-content" . }}
{{end}}

    <article class="news-article single-article">

        {{ partial "single/meta" . }}
        {{ partial "single/featured_image" . }}

        <div class="article-with-sidebar">
            
            {{ partial "single/simple-single" . }}

            {{ partial "sidebar/knowledge-base" . }}

        </div>

        {{ partial "single/editor-recommendation" . }}

    </article>

{{ end }}
