<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "basic/head" . -}}
    {{- partial "basic/analytics" . -}}
    {{- partial "basic/schema" . -}}
</head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.0.2/lunr.js"></script>
        {{ partial "header/index" . }}
        <div id="main" class="container full">
        {{ partial "header/affiliate-badge" . }}

        {{ block "main" . }}
            
        {{ end }}
        </div>
        {{ partial "footer/index" . }}
        {{- if .IsHome }}
            <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async type="text/javascript"></script>
        {{- end }}
        <script nonce async src="{{ "js/main.js" | absURL }}" type="text/javascript"></script>
        <script src="{{ "js/jquery.min.js" | absURL }}" type="text/javascript"></script>
        {{ if .Params.productImages }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
        {{ end }}
        {{ if .IsPage -}}
        <script src="{{ "js/toc.js" | absURL }}" type="text/javascript"></script>
        {{- end -}}
    </body>
</html>