<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{.Site.BaseURL}}"
      },
      "headline": "{{.Params.seo_title | default .Title}}",
      "description": "{{.Params.meta_Description}}",
      {{ with .Params.meta_Keywords }}
      "keywords": "{{.}} ",
      {{ end }}
      "image": {
        "@type": "ImageObject",
        "url": "{{.Params.featured_Image}}",
        "width": "1200",
        "height": "680"
      },
      {{ if .Site.Data.authors }}
      {{ $author := index .Site.Data.authors (.Params.author | anchorize) }}
      {{- if $author.name -}}
        "author": {
          "@type": "Person",
          "name": "{{ $author.name }}"
        },
      {{- end -}}
      {{ end }}
      "publisher": {
        "@type": "Organization",
        "name": "Example",
        "logo": {
          "@type": "ImageObject",
          "url": "{{.Site.Params.logo}}",
          "width": "400",
          "height": "400"
        }
      },
      "datePublished": "{{.Date.Format "2006-01-02" }}",
      "dateModified": "{{.Lastmod.Format "2006-01-02" }}"
    }
</script>