<section data-next="latest" data-total-count="12" data-list="mixed/latest" class="listingResultsWrapper mixed mixed ez-homepage-section">
    <header>
        <h3 class="list-title" style="border: none;background-color:var(--mainColor);color:var(--textColor);">Showing Latest Posts {{ with .Data.Term }}from {{.}}{{ end }}</h3>
    </header>
    <div class="listingResults mixed" data-sort="page" data-listkey="mixed">
        {{ $paginator := .Paginate (.Data.Pages.ByDate.Reverse) }}
        {{ range where $paginator.Pages "Type" "not in" "pages" }}
            <div class="listingResult small result1">
                <a href="{{.Permalink}}" class="article-link"
                    aria-label="{{.Title}}">
                    <article class="search-result search-result-review has-rating">
                        <div class="image" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                            <figure class="article-lead-image-wrap"
                                data-original="{{.Params.featured_Image}}">
                                <img src="{{.Params.featured_Image}}"
                                    width="480" height="233" alt="{{.Title}}" loading="lazy">
                                <meta itemprop="url"
                                    content="{{.Params.featured_Image}}">
                                <meta itemprop="height" content="{{ site.Params.open_graph.imageH | default "680" }}">
                                <meta itemprop="width" content="{{ site.Params.open_graph.imageW | default "1200" }}">
                            </figure>
                        </div>
                        <div class="content">
                            <header>
                                <h3 class="article-name">{{.Title}}</h3>
                                <p class="byline">
                                    {{ if .Params.author }}
                                    {{ $author := index .Site.Data.authors (.Params.author | anchorize) }}
                                    <span class="by-author">
                                        By
                                        <span style="white-space: nowrap;"> {{$author.name}} </span>
                                    </span>
                                    {{ end }}
                                    <time class="published-date relative-date"
                                        datetime="{{.Date}}"
                                        data-published-date="{{.Date}}">
                                        - Last Updated: <time class="entry__meta-date flex flex-row items-center  f7 "
                                            title="{{.Params.updateDate}}">
                                            {{ if .Params.updateDate }}
                                                {{dateFormat "January 2, 2006" .Params.updateDate}}
                                            {{ else }}
                                                {{dateFormat "January 2, 2006" .Date}}
                                            {{ end }}
                                        </time>
                                    </time>
                                </p>
                            </header>
                        </div>
                    </article>
                </a>
            </div>  
        {{ end }}
    </div>
</section>

{{ partial "basic/pagination" . }}