<div class="trending-wrapper">
    <div class="trending-bar container full">
        <div class="trending-lead">Trending</div>
        <div class="trend-wrapper">
            <ul class="trending-items">
                {{ range first 5 (where .Site.RegularPages ".Params.trending" "eq" true) }}
                <li class="trending-item"><a href="{{.Permalink | absURL }}" aria-label="{{ .Params.trendname | title}}">{{ .Params.trendname | title}}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
