{{ range first 1 ( where .Site.RegularPages.ByDate.Reverse "Section" "ne" "pages") }}
<div class="feature-block-item-wrapper" itemscope="" itemtype="https://schema.org/Guide">
    <a class="article-link" href="{{.Permalink}}" aria-label="{{.Title}}"
        title="{{.Title}}">
        <figure class="feature-block-item __first" data-original="{{.Params.featured_Image | absURL }}" itemscope=""
            itemtype="https://schema.org/ImageObject">
            <img loading="lazy" src="{{ .Params.featured_Image | absURL }}" data-src="{{ .Params.featured_Image | absURL }}" alt="{{.Title}}" itemprop="image" width="970" height="572">
            <link itemprop="url" href="{{.Params.featured_Image | absURL }}">
            <meta itemprop="height" content="680">
            <meta itemprop="width" content="1200">
            <figcaption>
                <h1 itemprop="caption name" class="article-name">{{.Title}}</h1>
                {{- if .Site.Data.authors -}}
                {{ $author := index .Site.Data.authors (.Params.author | anchorize) }}
                <meta itemprop="author" content="{{ $author.name }}">
                <meta itemprop="dateCreated" content="{{$.Params.updateDate}}">
                {{- end -}}
            </figcaption>
        </figure>
    </a>
</div>
{{ end }}