{{ range .Site.Params.img_section }}
{{ $category1 := .imgcat }}
<div id="categoriesList" class="ez-homepage-section">
    <section data-next="latest" data-list="/home/latest" class="listingResultsWrapper mixedPrimary mixedPrimary">
        <header>
            <h2 class="list-title" style="background-color: white;"><a href="{{ $category1 | anchorize | absURL }}">{{$category1}}</a></h2>
            <p>{{.imgdes}}</p>
        </header>
        <div class="listingResults mixedPrimary" data-sort="page" data-listkey="mixedPrimary">
            {{ range or (where $.Site.RegularPages "Params.tags" "intersect" (slice $category1)) (where $.Site.RegularPages "Params.categories" "intersect" (slice $category1)) }}
            <div class="listingResult small result1">
                <a href="{{.Permalink}}" class="article-link"
                    aria-label="{{.Title}}">
                    <article class="search-result search-result-review has-rating">
                        <div class="image" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                            <figure class="article-lead-image-wrap"
                                data-original="{{.Params.featured_Image}}">
                                <img loading="lazy" src="{{ .Params.featured_Image | absURL }}"
                                    width="480" height="233" alt="{{.Title}}">
                                <meta itemprop="url"
                                    content="{{.Params.featured_Image}}">
                                <meta itemprop="height" content="{{ site.Params.open_graph.imageH | default "680" }}">
                                <meta itemprop="width" content="{{ site.Params.open_graph.imageW | default "1200" }}">
                            </figure>
                        </div>
                        <div class="content">
                            <header>
                                <h3 class="article-name">{{.Title}}</h3>
                                <p class="byline">
                                    {{- if .Site.Data.authors -}}
                                    {{ $author := index .Site.Data.authors (.Params.author | anchorize) }}
                                    <span class="by-author">By <span style="white-space: nowrap;">{{ $author.name }}</span>
                                    {{- end -}}
                                    <time class="published-date relative-date"
                                        datetime="{{.Date}}"
                                        data-published-date="{{.Date}}">
                                        - Last Updated: <time class="entry__meta-date flex flex-row items-center  f7 "
                                            title="{{.Params.updateDate}}">
                                            {{ if .Params.updateDate }}
                                                {{dateFormat "January 2, 2006" .Params.updateDate}}
                                            {{ else }}
                                                {{dateFormat "January 2, 2006" .Date}}
                                            {{ end }}
                                        </time>
                                    </time>
                                </p>
                            </header>
                        </div>
                    </article>
                </a>
            </div>  
            {{ end }}
        </div>
    </section>
</div>
{{ end }}